.Phase7_main_container{
  width: 100%;
  /* border: 1px solid black; */
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;

}
.container1{
  width: 35%;
  /* border: 1px solid orange; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.titel1{
  font-size: 30px;
  font-weight: 800;
   width: 90%;
}
.titel2{
  font-size: 12px;
  width: 90%;
}
.info_box_element{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.info_box1,
.info_box2{
  width: 50%;
  height: 150px;
  /* border: 1px solid black; */
}
.icon_info_box1,
.icon_info_box2{
  width: 100%;
  height: 50%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.icon_box1{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(236, 243, 249);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5), inset 0 4px 4px rgba(228, 227, 227, 0.398), inset 0 -4px 4px rgba(228, 228, 228, 0.302);
}
.infoElement{
 width: 70%;
 height: 100%;
 /* border: 1px solid black; */
 display: flex;
 flex-direction: column;
 overflow: hidden;
}
.titel3{
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
}
.titel4{
  font-size: 9px;
}
.info_page{
  height: 100%;
  width: 90%;
  margin-left: 10px;
  background-color: rgb(67, 147, 147);
  border-radius: 10px;
  padding: 10px;
}
.titel5{
  font-size: 10px;
  width: 90%;
  font-weight: 400;
}
.container2{
  width: 50%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid orange; */
  overflow: hidden;
}

.slider_boxes{
  /* height: 250px; */
  width: 100%;
  /* border: 1px solid black; */
}
.main_box{
  /* height: 250px; */
  width: 100%;
  display: flex;
  overflow: scroll;
}
.boxes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
  /* border: 1px solid black; */
  height: 300px;

}
.box1,
.box2,
.box3,
.box4,
.box5,
.box6{
  height: 210px;
  width: 210px;
  border-radius: 10px;
  background-color: rgb(89, 154, 174);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box1{
transform: rotate(10deg);
}
.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover,
.box6:hover{
  transform: rotate(0deg);
  transition: all .5s ease-in-out;
}
.box2{
transform: rotate(-5deg);
}
.box3{
transform: rotate(5deg);
}
.box4{
transform: rotate(-8deg);
}
.box5{
transform: rotate(5deg);
}
.box6{
transform: rotate(-2deg);
}
.image1{
  width: 100%;
  height: 90%;
  /* border: 1px solid black; */
  border-bottom: 2px solid rgba(41, 128, 154, 0.754);
  margin-top: -30px;
}
.image1 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: drop-shadow(5px 15px 15px rgba(0, 0, 0, 0.659));
}
.review1{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
}
.info_review_sheet1{
  font-size: 15px;
  font-weight: 700;
  padding: 0px 10px;
}
.info_review_sheet2{
  font-size: 8px;
  margin-top: -10px;
  padding: 0px 10px;
}



@media(max-width:1050px){
  .Phase7_main_container{
    flex-direction: column;
  }
  .container1{
    width: 100%;
  }
  .info_box1,
  .info_box2{
  width: 45%;
}
  .container2{
    width: 100%;
  }
  .slider_boxes{
    width: 90%;
  }
}
@media(max-width:800px){
.box1,
.box2,
.box3,
.box4,
.box5,
.box6{
    height: 180px;
    width: 180px;
  }
}
@media(max-width:500px){
  .titel1{
    font-size: 20px;
  }
  .titel2{
    font-size: 7px;
  }
  .icon_box1{
    height: 40px;
    width: 40px;
  }
  .titel3{
    font-size: 12px;
  }
  .titel4{
    font-size: 5px;
  }
  .titel5{
    font-size: 6px;
  }
  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6{
    height: 150px;
    width: 150px;
  }
}