.Phase8_main_container {
  width: 100%;
  height: 500px;
  /* border: 1px solid black; */
  margin-top: 100px;
}
.info_container {
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.info_cheat_sheet1 {
  font-size: 30px;
  font-weight: 800;
}
.info_cheat_sheet2 {
  width: 80%;
  font-size: 15px;
  text-align: center;
}
.icon_info_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
  gap: 10px;
}

.icon_info_container_element1,
.icon_info_container_element2,
.icon_info_container_element3 {
  width: 90%;
  height: 100px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}

.icon_info_container_element1 {
  justify-content: space-evenly;
}

.icon_info_container_element2 {
  justify-content: space-between;
}

.icon_info_container_element3 {
  justify-content: space-around;
}

.icon_info_box1,
.icon_info_box2,
.icon_info_box3,
.icon_info_box4,
.icon_info_box5,
.icon_info_box6,
.icon_info_box7,
.icon_info_box8,
.icon_info_box9,
.icon_info_box10,
.icon_info_box11,
.icon_info_box12 {
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon_box1,
.icon_box2,
.icon_box3,
.icon_box4,
.icon_box5,
.icon_box6,
.icon_box7,
.icon_box8,
.icon_box9,
.icon_box10,
.icon_box11,
.icon_box12 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(236, 243, 249);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(228, 227, 227, 0.398),
    inset 0 -4px 4px rgba(228, 228, 228, 0.302);
    overflow: hidden;
}

.icon_box1 {
  height: 50px;
  width: 50px;
}

.icon_box2 {
  height: 60px;
  width: 60px;
}

.icon_box3 {
  height: 50px;
  width: 50px;
}

.icon_box4 {
  height: 60px;
  width: 60px;
}

.icon_box5 {
  height: 55px;
  width: 55px;
}

.icon_box6 {
  height: 60px;
  width: 60px;
}

.icon_box7 {
  height: 55px;
  width: 55px;
}

.icon_box8 {
  height: 60px;
  width: 60px;
}

.icon_box9 {
  height: 50px;
  width: 50px;
}

.icon_box10 {
  height: 55px;
  width: 55px;
}

.icon_box11 {
  height: 45px;
  width: 45px;
}

.icon_box12 {
  height: 65px;
  width: 65px;
}

.nfo_cheat_sheet1{
  font-size: 15px;
  font-weight: 500;
}
.nfo_cheat_sheet2{
  font-size: 10px;
  font-weight: 600;
  margin-top: -10px;
  font-weight: 300;
  color: rgb(54, 54, 54);
}


@media (max-width: 800px) {
  .info_cheat_sheet1 {
    font-size: 25px;
  }
  .info_cheat_sheet2 {
    font-size: 15px;
  }

  .icon_box1 {
    height: 40px;
    width: 40px;
  }
  .icon_box2 {
    height: 50px;
    width: 50px;
  }
  .icon_box3 {
    height: 40px;
    width: 40px;
  }
  .icon_box4 {
    height: 50px;
    width: 50px;
  }
  .icon_box5 {
    height: 45px;
    width: 45px;
  }
  .icon_box6 {
    height: 50px;
    width: 50px;
  }

  .icon_box7 {
    height: 45px;
    width: 45px;
  }

  .icon_box8 {
    height: 50px;
    width: 50px;
  }

  .icon_box9 {
    height: 40px;
    width: 40px;
  }

  .icon_box10 {
    height: 45px;
    width: 45px;
  }

  .icon_box11 {
    height: 35px;
    width: 35px;
  }

  .icon_box12 {
    height: 55px;
    width: 55px;
  }
  .nfo_cheat_sheet1{
    font-size: 12px;
  }
  .nfo_cheat_sheet2{
    font-size: 8px;
  }
}

@media (max-width: 500px) {
  .info_cheat_sheet1 {
    font-size: 15px;
  }
  .info_cheat_sheet2 {
    font-size: 8px;
  }
  .icon_box1 {
    height: 35px;
    width: 35px;
  }
  .icon_box2 {
    height: 45px;
    width: 45px;
  }
  .icon_box3 {
    height: 35px;
    width: 35px;
  }
  .icon_box4 {
    height: 45px;
    width: 45px;
  }
  .icon_box5 {
    height: 35px;
    width: 35px;
  }
  .icon_box6 {
    height: 45px;
    width: 45px;
  }

  .icon_box7 {
    height: 35px;
    width: 35px;
  }

  .icon_box8 {
    height: 45px;
    width: 45px;
  }

  .icon_box9 {
    height: 35px;
    width: 35px;
  }

  .icon_box10 {
    height: 35px;
    width: 35px;
  }

  .icon_box11 {
    height: 25px;
    width: 25px;
  }

  .icon_box12 {
    height: 50px;
    width: 50px;
  }
  .nfo_cheat_sheet1{
    font-size: 9px;
  }
  .nfo_cheat_sheet2{
    font-size: 7px;
  }
}

