.SigningBox{
display: flex;
flex-direction: column;
position: relative;
}
.logingButtons{
  height: auto;
  width: auto;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(195, 250, 250);
  box-shadow: 1px 1px 3px rgba(55, 55, 54, 0.568),
  0px 0px 1px 2px rgba(61, 61, 61, 0.209),
  inset 1px 2px 3px rgba(178, 178, 176, 0.179),
  inset 0px 0px 2px 3px rgba(215, 215, 212, 0.153);
}
.logingButtons:hover{
  background-color: transparent;
  transition: all .5s;
}
.optionBox{
  position: absolute;
  top: 50px;
  background-color: rgb(234, 243, 251);
  padding: 20px 40px;
  border-radius: 10px;
  right: -25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 1px 2px 4px 1px rgba(177, 176, 176, 0.503);
}
.optionBox a{
  color: rgb(33, 87, 87);
}
.optionBox a{
  text-decoration: none;
  color: rgb(33, 87, 87);
  padding: 5px;
}
.optionBox a:hover{
  color: rgb(17, 180, 239);
  border-bottom: 2px solid rgb(22, 119, 216);
  transition: all .5s;

}