*{
  padding: 0;
  margin: 0;
}
.main-container{
  width: 100%;
  height: auto;
  /* background: circle-gradient(#6CB1DA, #CBEAEC); */
  background: radial-gradient( #c9f1f4,#6CB1DA);
  margin-top: -100px;
}