.Phase4_main_container{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
.info_container1{
  height: 400px;
  width: 47%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.image_par1{
  height: 100%;
  width: 50%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 10px;
}
.image_par2{
  height: 100%;
  width: 50%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}
.image_box1{
  height: 40%;
  width: 75%;
  border: 1px solid black;
  border-radius: 10px;
}
.image_box2{
  height: 40%;
  width: 60%;
  border: 1px solid black;
  border-radius: 10px;
}
.image_box3{
  height: 70%;
  width: 70%;
  border: 1px solid black;
  border-radius: 10px;
}
.info_container2{
  width: 47%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}
.cheat_sheet1{
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
}
.cheat_sheet2{
  font-size: 15px;
  width: 95%;
}
@media(max-width:800px){
  .Phase4_main_container{
    flex-direction: column;
  }
  .info_container1{
    flex-direction: column;
    width: 100%;
  }
  .info_container2{
    width: 100%;
  }
  .image_par1{
    width: 100%;
    flex-direction: row;
    height: 80%;
  }
  .image_par2{
    width: 100%;
    flex-direction: row;
    height: 80%;
  }
  .image_box1{
    height: 80%;
    width: 40%;
  }
  .image_box2{
    height: 80%;
    width: 30%;
  }
  .cheat_sheet1{
    font-size: 30px;
  }
  .cheat_sheet2{
    font-size: 14px;
  }
}
@media(max-width:500px){
  .info_container1{
    width: 100%;
    height: 350px;
    align-items: center;
  }
  .info_container2{
    width: 100%;
  }
  .image_box1{
    height: 80%;
  }
  .image_box2{
    height: 80%;
  }

  .cheat_sheet2{
    font-size: 12px;
  }
}