.Phase3_main_container{
  width: 100%;
  margin-top: 50px;
  background-color: rgb(24, 145, 182);
  display: flex;
  flex-wrap: wrap;
flex-direction: row;
 align-items: center;
 justify-content: space-evenly;
 gap: 10px;
}
.info_container1{
  height: 150px;
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.icon_box{
  height: 60px;
  width: 20%;
  border: 1px solid black;
}
.info_box{
  height: 60px;
  width: 70%;
  display: flex;
  flex-direction: column;
   justify-content: center;
}
.cheat_sheet1{
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}
.cheat_sheet2{
  font-size: 20px;
  font-weight: 700;
  margin-top: -5px;
}
@media(max-width:1050px){
  .info_container1{
    height: 130px;
    width: 210px;
  }
  .cheat_sheet1,
  .cheat_sheet2{
    font-size: 17px;
  }

}
@media(max-width:800px){
  .info_container1{
    height: 100px;
    width: 240px;
  }
  .icon_box{
    height: 50px;
  }
  .info_box{
    height: 50px;
  }
  .cheat_sheet1,
  .cheat_sheet2{
    font-size: 15px;
  }

}
@media(max-width:500px){
  .info_container1{
    height: 80px;
    width: 180px;
  }
  .cheat_sheet1,
  .cheat_sheet2{
    font-size: 13px;
  }
  .icon_box,
  .info_box{
    height: 40px;
  }
  
}