.Phase1_main_container{
  height: 400px;
  width: 100%;
  background-color: aqua;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cheat_sheet1{
  font-size: 50px;
  font-weight: 600;
}
.cheat_sheet2{
  width: 80%;
  text-align: center;
  font-size: 15px;
}

@media(max-width:1050px){
  .Phase1_main_container{
    height: 400px;
  }
  .cheat_sheet1{
    font-size: 40px;
    margin-top: 25px;
  }
  .cheat_sheet2{
    font-size: 13px;
  }
}
@media(max-width:800px){
  .Phase1_main_container{
    height: 350px;
  }
  .cheat_sheet1{
    font-size: 35px;
    margin-top: 25px;
  }
  .cheat_sheet2{
    font-size: 14px;
  }
}
@media(max-width:500px){
  .cheat_sheet2{
    font-size: 12px;
  }
}